@import url("css/root.css");
@import url("css/flex.css");
@import url("css/fonts.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Base Styles */
html {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    background: var(--bg-color);
}


h1, h2 {
    color:  var(--primary-color);
}

span {
    color: var(--secondary-color);
}

.dashboard {
    margin: 20px 25px;
}


.header {
    border-bottom: 1px solid var(--secondary-color);
    padding: 15px 0;
}

 
/* Toggle button */

.toggle-section {
    border: 0;
    margin: 0;
    padding:0;
}

.subtitle {
    color: var(--secondary-color);
    font-size: var(--font-sm);
    font-weight: 700;
    padding: 10px 0;
}

.toggle-switch {
    display: inline-block;
    position: relative;
    border-radius:34px;
    width: 47px;
    height: 25px;
}


.toggle-switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    transition: .4s;
    background-color: var(--secondary-color); 
}

.slider:before {
    position: absolute;
    background-color: var(--bg-color);
    content: ""; /*to add space to make a little circle*/
    height: 18px;
    width: 18px;
    right: 4px;
    bottom: 4px;
    transition: all 0.5s ease-out;
}

input:checked +.slider:before {
    transform: translateX(-20px)
}

input:checked +.slider {
    background: var(--toggle-dark-btn);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Toggle Active */


/* Small Stat Section */

.stat-card-sm {
    background: var(--card-color);
    border-radius: 5px; 
    padding: 10px 25px;
    margin: 15px 0;
}

.stat-card-sm img {
    margin: 0 2.5px;
}


/* Feature Cards Section */

.feature-section {
    display: flex;
    flex-direction: column;
}

.all-stats {
    display: flex;
    flex-direction: column;
}

.stat-card-lrg {
    background: var(--card-color);
    text-align: center;
    padding: 25px 0;
    margin: 10px 0;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.stat-card-lrg img {
    margin: 0 10px;
}

.stat-card-lrg:hover, .stat-card-sm:hover{
    background: var(--heading-color);
}

.green {
    color: var(--lime-geren);
}

.red {
    color: var(--bright-red);
}


/* Social Media */
.facebook {
    border-top: 3px solid var(--facebook);
}

.twitter {
    border-top: 3px solid var(--twitter);
}


.instagram:before {
    content: '';
    height: 3px;
    width: 100%;
    background: linear-gradient(to right,hsl(37, 97%, 70%), hsl(5, 77%, 71%),hsl(329, 70%, 58%));
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
}


.youtube {
    border-top: 3px solid var(--bright-red);
}

/* Dark Theme Set */

[data-theme="dark"] {
    --primary-color: hsl(0, 0%, 100%);
    --secondary-color: hsl(228, 34%, 66%);
    --card-color: hsl(228, 28%, 20%);
    --bg-color:hsl(230, 17%, 14%);
    --heading-color: hsl(232, 19%, 15%);
}

/* Media Queries */

@media (min-width: 700px) {

    .header {
        border-bottom: none;
    }
    .feature-section {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .all-stats {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .stat-card-sm {
        flex-basis: 41%;
    }
    .stat-card-lrg {
        flex-basis: 48%;
    }
    .instagram {
        flex-basis: 48%;
    }
}


@media (min-width: 1440px) {
    .stat-card-lrg {
        flex-basis: 24%;
    }

    .instagram {
        flex-basis: 24%;
    }

    .stat-card-sm {
        flex-basis: 20%;
    }
}


/* Attribution */
.attribution { 
    padding-top: 20px;
    font-size: 11px; 
    text-align: center; 
    color: var(--primary-color);
}

.attribution a { 
    color: var(--secondary-color); 
}
